@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


.button-filled {
    height: 48px;
    margin-top: 40px;
    padding: 0 24px;
    border-radius: 5px;
    background-color: #fff;
    background-image: -webkit-gradient(linear,left top,right top,from(#ff8d4d),to(#f4494e));
    background-image: linear-gradient(90deg,#ff8d4d,#f4494e);
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,.02),3px 3px 15px 2px rgba(0,0,0,.04),6px 6px 20px 4px rgba(0,0,0,.05);
    -webkit-transition: box-shadow .2s ease-in-out,color .2s ease-in-out,opacity .2s ease-in-out;
    transition: box-shadow .2s ease-in-out,color .2s ease-in-out,opacity .2s ease-in-out;
    color: #fff;
    font-size: 16px;
    line-height: 48px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.button-outlined {
    height: 48px;
    margin-top: 40px;
    margin-right: 24px;
    padding: 0 24px;
    border: 1px solid rgba(255,125,89,.2);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 6px 6px 30px 4px rgba(255,125,89,.02),3px 3px 15px 2px rgba(255,125,89,.03),2px 2px 8px 1px rgba(255,125,89,.02);
    -webkit-transition: box-shadow .2s ease-in-out,-webkit-transform .2s ease-in-out;
    transition: box-shadow .2s ease-in-out,transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    color: #ff7d59;
    font-size: 16px;
    line-height: 48px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}